*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial;
}

:root{
    font-size: 20px;
}

body, html{
    width: 100vw;
    height: 100vh;
} 

body{
    display:flex;
    flex-direction: column;

}

a, a:hover, a:active, a:visited{
    color:inherit;
    text-decoration: none;
    font-weight: unset;
}

/* HIDDEN TEMPLATES TO USE */

.template{
    display:none;
}

/* FLIP CARDS BEHAVIOR */

.box{
    width:45%;
    aspect-ratio: 1/1;
    border:1px solid ;
    perspective: 1000px;
    will-change: transform;

    float:left;
    margin-right:2.5%;
    margin-bottom:2.5%;

    font-size: 2.5rem;
}

.card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    transform-style: preserve-3d;
    
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:100%;
}

.box:hover .card{
    transform:rotateY(180deg);
    transition:0.5s;
    box-shadow: 0 0 2px #0008;
}

.front, .back{
    position:absolute;
    width:inherit;
    height: inherit;
    display:inherit;
    align-items: inherit;
    justify-content: inherit;
    backface-visibility: hidden;
}

.front{
    background-color: rgb(199, 184, 130);
    color:black;
    padding:15px;
}

.back{
    background-color: #222;
    color:#ddd;
    padding:15px;
    transform:rotateY(180deg);
}


/* VISIBLE CARDS AREA IN DOCUMENT */

header{
    width:100%;
    background-color:#222;
    color:#fff;
}

header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

header ul li{ 
    padding:1rem;
    position:relative;
    font-size: 1rem;
}

header ul li:hover{
    background-color: #444;
    cursor:pointer;
}

header ul li ul{
    display:none;
}

header ul li:hover ul{
    display:block;
    position:absolute;
    top:0;
    left:0;
    transform: translateY(60px);
    z-index: 99;
    width:100%;
    padding:0.5rem 0;
    background-color: black;
}

header ul li ul li{
    text-transform: capitalize;
    font-size: 0.8rem;
    padding:0.5rem;
}

header ul li ul li:hover{
    background-color: #ffb5a888;
    cursor:pointer;
}



h1{
    width: 100%;
    font-size: 8vmin;
    margin:2rem;
    text-transform: capitalize;
}

.content{
    width:100vw;
    padding:2rem;
    overflow-x: hidden;
    background-color: #eee;

    display: flex;
    flex-direction: column;
}

aside{
    width:25vw;
    height:100vh;
    background-color: #222;
    color:#ccc;
    padding:20px;
    font-family: 'century gothic';

    position:fixed;
    right:0;
}

aside h3{
    font-size: 22px;
    margin-bottom: 2vh;
    text-transform: capitalize;
}

aside a:hover h3{
    color:#fff;
    text-decoration: underline;
}


@media (min-width:1000px) {
    .box{
        width:22%;
        font-size:250%;
    }
}

