/*
    ANIMATIONS FOR INTRO PAGE GEARS
*/

@keyframes hide-intro {
    90%{
        transform:translateY(-100%) ;
    }
    100%{
        transform: scale(0);
    }
}

@keyframes gear1 {
    to{
        transform: rotate(90deg);
    }
}

@keyframes gear2 {
    to{
        transform: rotate(-180deg);
    }
}



/*
    ANIMATIONS FOR MAIN PAGE VIRTUAL MONITOR
*/


@keyframes iconSet {
    0%{background-image: url(../assets/icons/html.png);}
    18%{background-image: url(../assets/icons/sass.png);}
    38%{background-image: url(../assets/icons/js.png);}
    50%{background-image: url(../assets/icons/react.png);}
    64%{background-image: url(../assets/icons/php.png);}
    78%{background-image: url(../assets/icons/sql.png);}
    100%{background-image: url(../assets/icons/html.png);}
}


/*
    ANIMATIONS FOR MAIN PAGE FALLING BLOCKS
*/

@keyframes sq1{
    0% {top:0%; transform:rotate(-95deg);}
    100% {top:85%; transform:rotate(450deg);}
}

@keyframes sq2{
    0% {top:0%;transform:rotate(-915deg);}
    100% {top:85%; transform:rotate(13deg);}
}

@keyframes sq3{
    0% {top:0%;transform:rotate(5deg);}
    100% {top:85%; transform:rotate(-500deg);}
}