/*
    ELEMENTOS COMPONENTES DA INTRODUÇÃO INICIAL 
*/


intro{
    position:absolute;
    z-index: 50;
    width:100vw;
    height:100vh;
    background: var(--black);

    animation: hide-intro 1.2s cubic-bezier(.5,.9,.8,-0.35) 1.5s 1 normal forwards;
}

gear-box{
    position: absolute;
    top:30%;
    left:30%;
    width:40%;
    height:40%;/*
    box-shadow: 0 0 1px red;*/
}

.gear1{
    width:50%;

    animation: gear1 1s linear 0s 1 forwards;
}

.gear2{

    margin-left:-4%;
    width:30%;

    animation: gear2 1s linear 0s 1 forwards;
}

/*
    ELEMENTOS COMPONENTES DO MONITOR VIRTUAL
*/
.screen{
    margin:0 auto;
    width:220px;
    aspect-ratio: 16 / 9;
    background: #eee;
    border:black solid .8em;

    position:relative;
}

.screen::before{
    content:"";
    position:absolute;
    bottom:0;
    left:40%;
    transform:translateY(108%) ;
    background: black;
    width:20%;
    height:50px;
}

.screen:after{
    content:"";
    position:absolute;
    bottom:0;
    left:20%;
    transform:translateY(550%) ;
    background: black;
    width:60%;
    height:10px; 
}

/* ANIMAÇÃO ALTERA LARGURA ENTRE 50% E 100% */
.virtual-head{
    width:100%;
    height:25%;
    margin:0 auto;
    background-color:var(--orange);
}

.virtual-content{
    width:100%;
    height:75%;
    /*background: blue;*/
    display: flex;
    flex-direction: row;
    position:absolute;
    bottom:0;
}

.virtual-half{
    width:50%;
    height:100%;
    /*background: red;*/
}


/*ANIMAÇÃO ALTERA O TAMANHO ENTRE 20% E 80% */
.virtual-half .p{
    width:80%;
    height:8%;
    background: #555;
    margin:15% 10%;
}

.writeLine{
    animation: writing .8s steps(2) .3s infinite alternate both;
}

.virtual-half .virtual-img{
    width:70%;
    height:60%;
    background: var(--purple);
    margin-top:15%;
    margin-left:10%;
}

.sq1, .sq2, .sq3{
    aspect-ratio: 1/1;
    background:#2225;
    border:1px solid #0005;
    position:absolute;
}

.sq1{width:100px; right:50px;} 
.sq2{width:75px; left:200px; } 
.sq3{width:50px; left:500px; display:none;}

.asq1{animation: sq1 25s linear 0s infinite reverse both;}

.asq2{animation: sq2 16s linear 0s infinite reverse both;}

.asq3{animation: sq3 7s linear 0s infinite reverse both;}


@media (min-width:700px){
    .screen{
        width:350px;
    }

    .sq3{
        display:block;
    }
}