:root{
   --light:#e1e1e1;
   --dark:#222;
   --lfont:#aaa;
   --color1:#0cf;
   --color2:#fb2;
}

a, a:hover, a:active, a:visited{
    text-decoration: none;
    color:inherit;
}

.cover{
    width:100vw;
    height:100vh;
}
 
.dark{
    background-color: var(--dark);
    color:var(--lfont);
}

.light{
    background-color: var(--light);
    color:black;
}

.bc1{
    background-color: var(--color1);
    color:#000;
}

.bc2{
    background-color: var(--color2);
    color:#000;
}

.pad{
    padding:2rem;
}

.flex{
    display:flex;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    flex-direction:row;
}

.column{
    flex-direction: column;
}

.evenly{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.b{
    box-shadow: 0 0 1px 1px #000;
}

.fit{
    width:900px;
}

.half-fit{
    width:80vw;
}

.rounded{
    border-radius: 15%;
}

.small{
    font-size: .8rem;
}

.margin-top{
    margin-top: 2rem;
}